body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: snow;
}

.description
{
    width: 700px;
    font-size: 18px;
}


button
{
    height: 60px;
    width: 90px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 24px;
}
#calcBody
{
    display: flex;
    background-color: ghostwhite;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 400px;
    height: 655px;
    padding: 5px;
    gap: 10px;
    
}

#calcDisplay
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    width: 90%;
    background-color: gainsboro;
    border: 1px solid gray;
    margin: 5px;
    gap: 5px;

}
#result
{
    background-color: dodgerblue;
}
#clear
{
    background-color: orange;
}
#backspace
{
    background-color: orange;
}
.resultDivs
{
    font-size: 32px;
    font-weight: bold;
}

#operators
{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 5px;
}

#calcNumbers
{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    
}

.numbers
{
    width: 100px;
    height: 60px;
}